<app-bread-crumb
  [items]="[{text: 'Categorias'}]">
</app-bread-crumb>

<app-page-header
  page-title="Categorias"
  button-text="+ Nova Categoria"
  button-link="new"
  button-class="btn-success">
</app-page-header>

<button class="btn btn-outline-danger mb-2 float-right" (click)="gerarPDF()">Gerar PDF</button>

<table class="table table-hover" id="table">
  <thead>
    <!--backgroung primary com texto branco-->
    <tr class="bg-primary text-light">
      <th>Categoria</th>
      <th>Ações</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let category of resources">
      <td>
        <strong>{{category.name}}</strong><br>
        <small>{{category.description}}</small>
      </td>

      <td>
        <!--btn-outline tem borda azul em volta. sm deixa ele menor. mr (margin right-->
        <!--routerlink recebendo um array q contém pedaço da URL. Se n colocar aspas, o angular entende q é uma variável. O link é construiído: nome_site/categories/1/edit -->
        <a [routerLink]="[category.id, 'edit']" class="btn btn-outline-info btn-sm mr-2">Editar</a>
        <button (click)="deleteResource(category)" class="btn btn-outline-danger btn-sm">Excluir</button>
      </td>
    </tr>
  </tbody>
</table>